.form {
  display: flex;
  min-width: 860px;
  margin: auto;
  gap: 18px;
  align-items: flex-end;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  color: var(--gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.brandInp {
  min-width: 224px;
  height: 48px;
  padding-left: 18px;
  border: none;
  background-color: var(--inputBackground);
  border-radius: 14px;
  color: var(--black);
  padding-left: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  &:hover,
  &:focus {
    outline: none;
  }
}

.priceInp {
  min-width: 224px;
  height: 48px;
  padding: 0px;
  border: none;
  background-color: var(--inputBackground);
  border-radius: 14px;
  padding-left: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  &:hover,
  &:focus {
    outline: none;
  }
}

.mileageInpFrom {
  min-width: 160px;
  height: 48px;
  padding: 0px;
  border: none;
  background-color: var(--inputBackground);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  border-right: 1px solid rgba(138, 138, 137, 0.2);

  &:hover,
  &:focus {
    outline: none;
  }
}

.mileageInpTo {
  min-width: 160px;
  height: 48px;
  padding: 0px;
  border: none;
  background-color: var(--inputBackground);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  &:hover,
  &:focus {
    outline: none;
  }
}

::placeholder {
  color: var(--black);
}

.button {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: block;
  min-width: 136px;
  height: 48px;
  background-color: var(--blue);
  color: var(--white);
  border: none;

  border-radius: 12px;
  cursor: pointer;
}
