.logo {
  color: var(--gray);
  font-weight: 700;
  transition: var(--trans);

  &:hover,
  &:focus {
    color: var(--blueHover);
    /* text-shadow: 0 0 5px #00baff, 0 0 10px #00baff, 0 0 20px #00baff,
      0 0 40px #00baff, 0 0 80px #00baff; */
  }
}
