.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.link {
  padding: 8px 16px;
  color: var(--gray);
  /* text-shadow: 0 0 5px #00baff, 0 0 10px #00baff, 0 0 20px #00baff,
    0 0 40px #00baff, 0 0 80px #00baff; */
  transition: var(--trans);

  &:hover,
  &:focus {
    color: var(--blueHover);
  }
}
