.homeWrapper {
  width: auto;
  height: 100vh;
  padding-top: 20px;
  padding-right: 32px;
  padding-left: 32px;
  background-image: url(/Users/kostarusin/Documents/projects/car-rental/src/assets/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: start;
}
